<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="snow-magento2-data-model">
            <directory>./test/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>